<!--p style="color:white;"-->
  <a href="{{site.baseurl}}/" class="btn btn-info" role="button">Home</a>
  <hr>
  <span style="color:white;">
  <strong>Blogs - </strong> 
  <a href="{{site.baseurl}}/image_restoration/">Restauration d'images</a> |
  <a href="{{site.baseurl}}/super_resolution/">Super-résolution</a>
  </span>
  <hr>
  <span style="color:white;">
  <strong>Projects - </strong> 
  <a href="{{site.baseurl}}/open-image-restoration/">Image restoration pipeline</a>
  </span>
  <hr>
  <span style="color:white;">
  <strong>Courses / Tutorials - </strong> 
  <a href="{{site.baseurl}}/Python_Data_Science/">Python for Data Science</a>
  </span>
<!--/p-->
