  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{site.home}}/">Home</a>
    </div>
    <ul class="nav navbar-nav">
	
      <!--li class="active"><a href="#">Home</a></li>
	  
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li-->
	  
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blogs
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{site.home}}/image_restoration/">Restauration d'images</a></li>
          <li><a href="{{site.home}}/super_resolution/">Super-résolution</a></li>
        </ul>		
      </li>
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{site.home}}/open-image-restoration/">Image restoration pipeline</a></li>
        </ul>		
      </li>
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{site.home}}/Python_Data_Science/">Python for Data Science</a></li>
        </ul>		
      </li>	 
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Git repos.
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://github.com/titsitits/Python_Data_Science/">Python for Data Science (github)</a></li>
		  <li><a href="https://github.com/titsitits/open-image-restoration/">Image restoration pipeline (github)</a></li>
        </ul>		
      </li>	 	  
    </ul>
  </div>